<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogToTrace="true">

  <targets>
    <!--<target name="infofile12"
            xsi:type="File"
            fileName="logs/info/${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception} @${callsite:fileName=true:includeSourcePath=true}" />-->
    
    <!--https://github.com/nlog/nlog/wiki/File-target#size-based-file-archival-->

    <!--<target xsi:type="File" name="infofile111wq" fileName="${basedir}/logs/${shortdate}_all.log" keepFileOpen="false" layout="${longdate}\r\n${message}" lineEnding="CRLF" />-->
    
    <!--<target name="errfiletest"
            xsi:type="File"
            fileName="logs/error/${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception} @${callsite:fileName=true:includeSourcePath=true}" />-->

    <target xsi:type="File" name="xxx" encoding="utf-8" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="xxx" archiveAboveSize="10240"/>
    <!--文件大小为1M，则自动分割（1*1024*1024）-->
    <target xsi:type="File" name="infofile" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/info/${shortdate}.log" 
     layout="${longdate} ${newline} ${message}" archiveAboveSize="1048576"/>

    <target xsi:type="File" name="errfile" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/error/${shortdate}.log"
     layout="${longdate}${newline}${message}${exception}${newline}----------${level} | ${logger}----------${newline}" archiveAboveSize="1048576"/>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->
    <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <!-- 除非调试需要，把系统的 Debug 输出都屏蔽 -->
    <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" level="Error" writeTo="errfile" />
    <logger name="*" level="Info" writeTo="infofile" />
    <!--<logger name="*" level="Debug" writeTo="debugfile" />-->
    <!--<logger name="*" minlevel="Debug" writeTo="logfile,console" />-->
  </rules>
</nlog>